<html lang="en-US">
<head>
    <title>Mock-N-Serve</title>
    <style>
        .table-parent {
            position: fixed;
            top: 5px;
            left: 5px;
            right: 100px;
            overflow: scroll;
            border: 0.5px solid #a0a0a0;
        }

        table {
            width: 100%;
            border-spacing: 0;
        }

        td {
            border: 0.5px solid #a0a0a0;
            padding: 5px;
        }

        td:first-of-type {
            vertical-align: top;
        }

        td:last-of-type {
            flex: 1;
        }

        .github {
            position: fixed;
            right: 0;
            top: 0;
        }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6M91HW26WG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6M91HW26WG');
    </script>
</head>
<body>
<a href="https://github.com/harshkanjariya/mock-n-serve">
    <img alt="github"
         src="<%= assetBasePath %>/github.svg"
         class="github"
         width="70"
         height="70"
    >
</a>
<div class="table-parent">
    <table>
        <tbody>
        <tr>
            <td>Method</td>
            <td><%= method %></td>
        </tr>
        <tr>
            <td>URL</td>
            <td><%= url %></td>
        </tr>
        <tr>
            <td>Body</td>
            <td>
                <pre><%= JSON.stringify(body, null, 4) %></pre>
            </td>
        </tr>
        <tr>
            <td>Query</td>
            <td>
                <pre><%= JSON.stringify(query, null, 4) %></pre>
            </td>
        </tr>
        <tr>
            <td>Headers</td>
            <td>
                <pre><%= JSON.stringify(headers, null, 4) %></pre>
            </td>
        </tr>
        <tr>
            <td>Cookies</td>
            <td>
                <pre><%= JSON.stringify(cookies, null, 4) %></pre>
            </td>
        </tr>
        <tr>
            <td>Files</td>
            <td>
                <pre><%= typeof files === "undefined" ? "{}" : JSON.stringify(files, null, 4) %></pre>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
